{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include 'admin/_menu.html.twig' %}
{% endblock %}

{% block content %}
    <h2>Управление книгами</h2>

    <div>
        <a class="btn btn-primary" href="{{ path('app_admin_book_add') }}">Создать</a>
    </div>

    {% include '_errors.html.twig' %}

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Название</th>
            <th>Год издания</th>
            <th>ISBN</th>
            <th>Число страниц</th>
            <th>Автор(ы)</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>

        {% for book in books %}
            {% set BookMessage = book.name ~ ' ' ~ book.publishYear %}
            <tbody>
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.publishYear }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.numberPages }}</td>
                <td>
                    {% for author in book.authors %}
                        {{ author }}<br>
                    {% endfor %}
                </td>
                <td><a href="{{ path('app_admin_book_edit', {id: book.id}) }}">Редактировать</a></td>
                <td>
                    <span class="link link-danger" onclick="deleteConfirm('{{ BookMessage }}', '{{ path('app_admin_book_delete', {id: book.id}) }}')">х</span>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    {% if not books %}
        <div>Книг нет</div>
    {% endif %}

    {% include 'modal/_delete_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts%}

